#notifications.box
  .tools
    = link_to t("common.mark_all_as_read"), mark_all_as_read_notifications_path, :class => 'btn', :method => :put, :remote => true, :disable_with => '标记所有为已读...' 
    %h1.pull-right 提醒
  %table
    %tbody
      - @notifications.each do |notification|
        %tr
          %td
            = notification.message_id
            