.span9   
  = render :partial => 'messages/index', :locals => {:msgs => @msgs, :room => @room }
.span3{:style => "position:fixed;right:20px;"}
  =link_to "离开", "/leave/#{@room.id}", {:class => "btn btn-danger", :id => "leave"}  
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header 在线用户
      - @users_online.each do |username|
        %li 
          =link_to username, "#"
      %li.nav-header 热门回复
      - @hot_replies.each do |reply|
        %li 
          =link_to reply.body, "##{reply.id}"