/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require responsive
 *= require jquery.atwho
*/

.user_setting h1 a, .user_setting h1 a:hover
{
	color:#333;
}
.user_setting .avatar
{
	float:left;
	margin-right:6%;
}
.user_setting .left
{
	float:left;
}
.user_setting .right
{
	float:right;
	width:50%;			
}
.user_setting .right .about-me 
{
	padding: 10px;
	font-size: 12px;
	background-color: #F8F8F8;		
	border-bottom: 1px solid #EEE;
	line-height: 1.3;
	min-height:400px;
}
.user_setting .left table
{
	font-size:1.2em;
}
.user_setting .left table td
{
	padding:0 50px 0 0;
	padding-top:5px;
}
.user_setting .left table tr
{
	height:35px;
}
.fav ul
{
	min-width: 200px;
	max-height:500px;
}
.fav li
{
	width:100px;
	min-width:100%;
	float:left;
	height:30px;
	width:auto;
}
.fav li a
{
	line-height:30px;
	font-size:14px;
}
.notifications a
{
	font-weight: bold;
	padding: 11px 8px 10px;
}
.notifications a .count 
{
	background-color: #666;
	padding: 2px 6px;
	border-radius: 2px;
	color: #999;
	-moz-border-radius: 2px;
}
.timestamp 
{
	color: black;	
	padding: 1px 3px;	
	background-color: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin-right: 2px;
	position: relative;
	z-index: 1;	
}
i.timestamp_icon
{
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("/assets/icons.png");
	background-position: -48px -24px;
	background-repeat: no-repeat;	
}

.notice
{
	position: fixed;
  top: 35%;
  left: 35%; 
  display:none;
}
.container
{
	background: white;
	padding: 30px;
	margin: 40px auto 20px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	box-shadow: 0px 1px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0px 1px 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,.2);
}
.hero-unit
{
	padding:6px 5px 8px 5px!important;
}
.hero-unit h2
{
	border-bottom:1px solid #F0F0F0;
	font-weight:600;
	font-size:2em;
	margin-bottom:10px;
}
.hero-unit label
{
	font-weight:normal;
	font-size:18px;
}
.hero-unit input[type="text"],.hero-unit input[type="email"],.hero-unit input[type="password"]
{
	height:30px !important;
}