/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require responsive
 *= require jquery.atwho
*/
h1
{		
	border-bottom:1px solid #ccc;		
}
h1 a, h1 a:hover
{
	color:#333;
}
.avatar
{
	float:left;
	margin-right:6%;
}
.left
{
	float:left;
}
.right
{
	float:right;
	width:50%;			
}
.right .about-me 
{
	padding: 10px;
	font-size: 12px;
	background-color: #F8F8F8;		
	border-bottom: 1px solid #EEE;
	line-height: 1.3;
	min-height:400px;
}
.left table
{
	font-size:1.2em;
}
.left table td
{
	padding:0 50px 0 0;
	padding-top:5px;
}
.left table tr
{
	height:35px;
}
